/* { margin: 0; padding: 0; }
/* p { padding: 10px; } */
p { padding: 10px; text-align: center }
#left { position:  absolute;  left: 0;  top: 10%; width: 40%; background-color: #ADFF2F; }
#right { position: absolute;  right: 0; top: 10%; width: 60%; background-color: yellow; } 
.value {margin-left: 20px;  margin-right: 20px; background-color: white;} 